In [14]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score, classification_report
import nltk
from nltk.corpus import stopwords
import string

ModuleNotFoundError: No module named 'nltk'

In [15]:
!pip install nltk

Requirement already satisfied: nltk in /Users/alex/.local/share/virtualenvs/spam_filter-wIZjrOZ6/lib/python3.10/site-packages (3.9.1)
Requirement already satisfied: click in /Users/alex/.local/share/virtualenvs/spam_filter-wIZjrOZ6/lib/python3.10/site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in /Users/alex/.local/share/virtualenvs/spam_filter-wIZjrOZ6/lib/python3.10/site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in /Users/alex/.local/share/virtualenvs/spam_filter-wIZjrOZ6/lib/python3.10/site-packages (from nltk) (2024.7.24)
Requirement already satisfied: tqdm in /Users/alex/.local/share/virtualenvs/spam_filter-wIZjrOZ6/lib/python3.10/site-packages (from nltk) (4.66.5)

In [6]:
df = pd.read_excel('output.xlsx')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3474 entries, 0 to 3473
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   username  3474 non-null   object
 1   email     3474 non-null   object
 2   subject   3474 non-null   object
 3   body      3388 non-null   object
 4   spam      3474 non-null   int64
dtypes: int64(1), object(4)
memory usage: 135.8+ KB

In [8]:
df = df.dropna(subset='body')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3388 entries, 0 to 3473
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   username  3388 non-null   object
 1   email     3388 non-null   object
 2   subject   3388 non-null   object
 3   body      3388 non-null   object
 4   spam      3388 non-null   int64
dtypes: int64(1), object(4)
memory usage: 158.8+ KB

In [10]:
df['words'] = df['body'].apply(lambda text: list(set(text.lower().split())))

In [11]:
df.head()

,username,email,subject,body,spam,words
0,no_reply,email.apple.com,Billing Problem,Billing Problem\n-----------------------------...,2,"[avoid, can, by, support., of, help, for, char..."
1,jargal0906,gmail.com,Re: Grad assignment,"On Wed, Mar 27, 2024 at 12:44 PM Jagi Jargal <...",2,"[ли, link, in, 1:54, jagi, >>, one?, pm, 5:58,..."
2,jargal0906,gmail.com,Re: Grad assignment,"This one?\n\n\nOn Tue, Mar 26, 2024 at 5:58 PM...",2,"[ли, link, in, 1:54, jagi, >>, one?, pm, 5:58,..."
3,support,rapidapi.com,FREE Invitation From Rapid to apidays [Singapo...,API Hub for Business ( https://www.producthunt...,1,"[ceo, hub, their, 1), [singapore/new, $999, of..."
4,firebase-no-reply,google.com,"Алексей, Welcome to Firebase",View our web version \n<https://notifications...,1,"[view, their, of, send, view,, you, for, usage..."